<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="footer">
    <div class="footer-container">
    <div class="left">
            
            <div class="location" >
                <mat-icon class="home-icon">home</mat-icon> 
                <div>    
                    <p class="uni"> George Mason University, Fairfax, VA</p>
                    <p class="uni">USA</p>
                </div>
            </div>
            
            <div class="phone">
               
                <h4>
                    <mat-icon class="phone-icon">phone</mat-icon>
                    +1-703-993-2000
                </h4>
            </div>

            <div class="email">
                
                <h4> 
                    <mat-icon class="email-icon">email</mat-icon>
                    dvora@gmu.edu
                </h4>
            </div>
        </div>



        <div class="right">
                <h4> About  </h4>
                <p> The Online Book store is a website developed to demonstrate accepted HCI practices under Prof. Thomas LaToza</p>
                <div class="social">
               
                </div>
            </div>
    
    </div>
    </div>
