.nav-bg {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position:fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
}

.go{
  background-color: rgba(0, 0, 0, 0.85);

  display:none;
  transition:0.5s;
}
.navbar-brand {
  margin-left: 10px;
}

.nav-link {
  color: white !important;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 20px;
}

.navbar-brand {
  font-weight: bold;
  text-transform: uppercase;
}
